# Tuple
Immutable sequence of objects 

## Cheat Sheet

| Task     | Means | Example|
| -------- | ------- |------- |
| Initialization| comma separated values|```t = (3,4,5)```|
| Create from list| tuple function    |```t = tuple([3,4,5])```|
| Create from iterator| tuple function    |```t = tuple("hello")```|
| Concatenation| + operator    |```(1,2,3) + (4,5,6)```|
| Length | len function    |```len((1,2,3))```|
| Count number of occurences | count method    |```(1,2,3,1).count(1)```|
| Duplicating a tuple n times| multiply by a scalar    |```(1,2)*3```|


## Details
### Creation
#### Round Brackets
We create a tuple by specifying its elements separated by commas and enclosed in round brackets (In many cases the round brackets  can be ommited)

In [2]:
(3,4,5)

(3, 4, 5)

#### From list using tuple function

In [5]:
tuple([3,4,5])

(3, 4, 5)
('h', 'e', 'l', 'l', 'o')

#### From iterator using tuple function

In [6]:
tuple("hello")

('h', 'e', 'l', 'l', 'o')

### Misc
#### Concatenation
We can create a new tuple by concatenating tuples with the + operator

In [8]:
(1,2,3) + (4,5,6)

(1, 2, 3, 4, 5, 6)

#### Multiplying by a scalar
Multiplying a tuple by the scalar n creates a new tuple which is the same as concatenating the original with itslef n times

In [9]:
(1,2) * 3

(1, 2, 1, 2, 1, 2)

###### Unpacking
We can unpack or deconstruct tuples

In [4]:
a, (b,c) = (1,(2,3))
c

3

#### Rest/* operator
We can using * to pick up remaining elements we don't specify

In [5]:
a,b,*rest = (1,2,3,4,5,6)
rest

[3, 4, 5, 6]

### Length
We obtain the length of a tuple using the count method

In [1]:
len((1,2))

2

### Count
Count the number of occurences

In [3]:
(1,2,3,1).count(1)

2